@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,300&display=swap");
* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

.bg-gris {
  background-color: rgb(228, 228, 228);
}

h1 {
  color: rgb(228, 228, 228);
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 30%;
}

.riquelme {
  padding-left: 0;
  padding-right: 0;
}

.messi {
  padding-left: 0;
  padding-right: 0;
}

/* color para botones */
.bg-blue {
  background-color: rgb(11, 15, 117);
  color: rgb(228, 228, 228);
}

.navbar {
  padding: 0;
}

.navegacion div {
  width: 100%;
  background-color: rgb(11, 15, 117);
  font-size: 1.2em;
  padding-right: 20px;
}
.navegacion div ul li a {
  color: rgb(228, 228, 228);
  padding: 40px;
  margin-right: 20px;
}
@media (min-width: 280px) and (max-width: 991px) {
  .navegacion div ul li a {
    margin-right: 0px;
    padding: 10px;
    text-align: center;
  }
}

img {
  width: 10vh;
}
@media (min-width: 280px) and (max-width: 720px) {
  img {
    width: 50px;
  }
}

header {
  position: relative;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  header {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  header {
    width: 100%;
    height: 100%;
  }
}
header img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  header button {
    padding: 3px;
    margin-top: 100px;
    color: rgb(228, 228, 228);
    background-color: rgb(11, 15, 117);
    font-size: 0.5em;
    border-radius: 2px;
    border-width: 5px;
    border-color: rgb(21, 9, 255);
    font-style: oblique;
  }
}

.explorar {
  text-decoration: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  color: rgb(228, 228, 228);
  background-color: rgb(11, 15, 117);
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  border-width: 20px;
  border-color: rgb(21, 9, 255);
  font-style: oblique;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  .explorar {
    font-size: 24px;
    border-radius: 5px;
    border-width: 5px;
    padding: 10px;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .explorar {
    font-size: 8px;
    border-radius: 5px;
    border-width: 5px;
    padding: 7px;
  }
}

/* estilos imagenes index */
.roman {
  display: flex;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .roman {
    display: grid;
  }
}

.cristiano {
  flex: 1;
  position: relative;
}
.cristiano img {
  width: 100%;
  height: 100%;
}

.buttons {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.buttons button {
  margin: 20px;
  padding: 10px;
  color: rgb(228, 228, 228);
  background-color: rgb(11, 15, 117);
  font-size: 1.5em;
  border-radius: 5px;
  border-width: 10px;
  border-color: rgb(21, 9, 255);
  font-style: oblique;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  .buttons button {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    border-radius: 5px;
    border-width: 7px;
  }
}
@media screen and (max-width: 768px) {
  .buttons button {
    padding: 3px;
    margin: 2px;
    font-size: 7px;
    border-radius: 2px;
    border-width: 5px;
  }
}

.buttons button:hover {
  background-color: rgb(13, 13, 13);
  transform: scale(1.1);
}

.riquelme img {
  width: 100%;
  height: 100%;
}
.riquelme h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 3em;
  text-align: center;
  color: rgb(228, 228, 228);
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  .riquelme h1 {
    color: rgb(228, 228, 228);
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .riquelme h1 {
    color: rgb(228, 228, 228);
    font-weight: 2em;
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 30%;
  }
}

/* estilos de las camisetas */
.container {
  position: relative;
  display: inline-block;
}

main section article {
  padding: 20px;
}

.card {
  overflow: hidden;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.imagen {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
.card:hover .imagen {
  transform: scale(1.1);
  cursor: pointer;
}

.messi img {
  width: 100%;
  height: 100%;
}
.messi h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 3em;
  text-align: center;
  color: rgb(228, 228, 228);
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  .messi h1 {
    color: rgb(228, 228, 228);
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .messi h1 {
    color: rgb(228, 228, 228);
    font-weight: 2em;
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 30%;
  }
}

main section p {
  word-spacing: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  main section p {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  main section p {
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
main section .dts {
  width: auto;
  margin: 5px 5px;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  main section .dts {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  main section .dts {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  main section .texto {
    font-size: 1em;
  }
}

/* segundo main */
.equipo {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "presentacion equipo1 equipo2" "equipo3 equipo1 equipo2" "equipo3 equipo4 equipo4";
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .equipo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-areas: "presentacion" "equipo1" "equipo2" "equipo3" "equipo4";
  }
}

.equipo .presentacion {
  grid-area: presentacion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px;
}

.equipo .equipo1 {
  grid-area: equipo1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.equipo .equipo2 {
  grid-area: equipo2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.equipo .equipo3 {
  grid-area: equipo3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.equipo .equipo4 {
  grid-area: equipo4;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 50px;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  .equipo .equipo4 {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .equipo .equipo4 {
    flex-direction: column;
  }
}

/* end seg main */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1em;
  }
}

section p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  section p {
    font-size: 0.7em;
  }
}

.vende-c {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "encabezado encabezado" "mapa formulario" "mapa formulario" "mapa formulario";
}
@media screen and (max-width: 768px) {
  .vende-c {
    grid-template-areas: "encabezado encabezado" "mapa mapa" "formulario formulario" "formulario formulario";
  }
}
.vende-c .encabezado {
  grid-area: encabezado;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 0px 0px;
  background-color: rgb(228, 228, 228);
}
.vende-c .mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px;
  font-size: 1em;
}
.vende-c .formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px;
  font-size: 1em;
}
@media screen and (min-width: 768px) and (max-width: 1125px) {
  .vende-c .formulario {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .vende-c .formulario {
    width: 100%;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin-inline-end: 0px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(13, 13, 13);
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 400;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.enviar {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}
.enviarhover {
  background-color: #45a049;
  cursor: pointer;
}

/* footer */
.footer-edit {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .footer-edit {
    padding: 0px;
  }
}

footer {
  background-color: rgb(11, 15, 117);
  color: rgb(228, 228, 228);
  padding: 20px 0px;
}

.social-links {
  list-style: none;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .social-links {
    margin-top: 10px;
    height: 100%;
  }
}
.social-links li {
  display: inline-block;
  margin: 0 6px;
}
.social-links li a {
  color: rgb(228, 228, 228);
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .items {
    flex-basis: 100%;
  }
}

.logo {
  display: block;
  margin: 0px auto;
  max-width: 100px;
}
@media screen and (max-width: 768px) {
  .logo {
    max-width: 50px;
  }
}

footer .redes {
  padding: 10px;
  margin-left: -30px;
}

/* end footer */
.error-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
}
.error-container img {
  width: 100vh;
  align-self: center;
  margin-top: 70px;
}
@media screen and (max-width: 500px) {
  .error-container img {
    width: 50vh;
  }
}
.error-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.error-container button:hover {
  background-color: #0056b3;
  transform: scale(1.3);
}

/*# sourceMappingURL=main.css.map */
