//roman
.riquelme{
    img{
        width: 100%;
        height: 100%;
    }
    h1{
        display: flex;
        flex-direction: column;
        position: absolute;
        font-size: 3em;
        text-align: center;
        color: $white;
        @media screen and (min-width: 768px) and (max-width: 1125px){
            color: $white;
            font-weight: 500;
            font-size: $textLg;
            text-align: center;
            width: 100%;
            padding-top: 3%;
            padding-bottom: 30%;
        }
        @media screen and (min-width:280px) and (max-width:768px){
            color: $white;
            font-weight: $textLg;
            font-size: $textSm;
            text-align: center;
            width: 100%;
            padding-top: 3%;
            padding-bottom: 30%;   
        }
    }

}

/* segundo main */
.equipo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
    "presentacion equipo1 equipo2"
    "equipo3 equipo1 equipo2"
    "equipo3 equipo4 equipo4";
    gap: $borderSm;
}

.equipo .presentacion{
    grid-area: presentacion;
    display: flex;
    flex-direction: column;
    justify-content: center;  padding: 50px 50px;
}
  
.equipo .equipo1{
    grid-area: equipo1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
  
.equipo .equipo2{
    grid-area: equipo2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
  
.equipo .equipo3{
    grid-area: equipo3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
  
.equipo .equipo4{
    grid-area: equipo4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 50px;
}
  /* end seg main */