//roman
.riquelme{
    img{
        width: 100%;
        height: 100%;
    }
    h1{
        display: flex;
        flex-direction: column;
        position: absolute;
        font-size: 3em;
        text-align: center;
        color: $white;
        @media screen and (min-width: 768px) and (max-width: 1125px){
            color: $white;
            font-weight: 500;
            font-size: $textLg;
            text-align: center;
            width: 100%;
            padding-top: 3%;
            padding-bottom: 30%;
        }
        @media screen and (min-width:280px) and (max-width:768px){
            color: $white;
            font-weight: $textLg;
            font-size: $textMd;
            text-align: center;
            width: 100%;
            padding-top: 3%;
            padding-bottom: 30%;   
        }
    }

}

/* estilos de las camisetas */
.container {
    position: relative;
    display: inline-block;
}

main{
    section{
        article{
            padding: 20px;
        }
    }
}

//tranciciones
.card{
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-origin: center center;
}
  
.imagen{
    transition: transform 0.3s ease;
}
  
.card:hover{
    transform: scale(1.05);
    .imagen{
        transform: scale(1.1);
        cursor: pointer;
    }
}
//carrito de compras
#carro{
    width: 50px;
}

#boton{
    background-color: $mainColor;
    margin-top: 30px;
    margin-left: 30px;
    height: 60px;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}
  