//anidacion
.navbar{
    padding: 0;
}

.navegacion{
    div{
        width: 100%;
        background-color: $mainColor;
        font-size: 1.2em;
        ul{
            li{
                a{
                    color: $white;
                }
            }
        }
    }
}

img{
    width: 13vh;
    @media (min-width:280px) and (max-width:720px){
        width: 50px;
        
    }
}
