//anidacion
.navbar{
    padding: 0;
}

.navegacion{
    div{
        width: 100%;
        background-color: $mainColor;
        font-size: 1.2em;
        padding-right: 20px;
        ul{
            li{
                a{
                    color: $white;
                    padding: 40px;
                    margin-right: 20px;
                }
            }
        }
    }
}

img{
    width: 10vh;
    @media (min-width:280px) and (max-width:720px){
        width: 50px;
        
    }
}
