//dt's
main{
    section{
        p{
            word-spacing: 5px;
            @media screen and (min-width: 768px) and (max-width: 1125px){
                word-spacing: 0px;
                height: 100%;
            }
            @media screen and (min-width:280px) and (max-width:768px){
                word-spacing: 0px;
                height: 100%;
            }
        }
        .dts{
            width: auto;
            margin: 50px 20px;
            
            @media screen and (min-width: 768px) and (max-width: 1125px){
                height: 20%;
            }
            @media screen and (min-width:280px) and (max-width:768px){
                height: 8%;
            }
                
        }

        .texto{
            @media screen and (max-width: 768px){
                font-size: $textSm;
            }
        }
    }
}