//dt's
main{
    section{
        p{
            word-spacing: 5px;
            @media screen and (min-width: 768px) and (max-width: 1125px){
                width: 100%;
                height: 100%;
            }
            @media screen and (max-width: 768px){
                height: 100%;
                width: 100%;
                text-align: center;
            }
        }
        .dts{
            width: auto;
            margin: 5px 5px;
            
            @media screen and (min-width: 768px) and (max-width: 1125px){
                height: 200px;
            }
            @media screen and (max-width: 768px){
                height: 200px;
            }
                
        }

        .texto{
            @media screen and (max-width: 768px){
                font-size: $textMd;
            }
        }
    }
}

/* segundo main */
.equipo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
    "presentacion equipo1 equipo2"
    "equipo3 equipo1 equipo2"
    "equipo3 equipo4 equipo4";
    gap: $borderSm;
    @media screen and (min-width: 768px) and (max-width: 1125px){
    }
    @media screen and (max-width: 768px){
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas:
        "presentacion"
        "equipo1"
        "equipo2"
        "equipo3"
        "equipo4";
    }

}

.equipo .presentacion{
    grid-area: presentacion;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 50px 50px;
}
  
.equipo .equipo1{
    grid-area: equipo1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
  
.equipo .equipo2{
    grid-area: equipo2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
  
.equipo .equipo3{
    grid-area: equipo3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
  
.equipo .equipo4{
    grid-area: equipo4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 50px;
    @media screen and (min-width: 768px) and (max-width: 1125px){
        flex-direction: column;
    }
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
/* end seg main */