//variables globales
$mainColor: rgb(11, 15, 117);
$secondaryColor: rgb(21, 9, 255);
$black: rgb(13, 13, 13);
$white: rgb(228, 228, 228);

//font
$mainFont: 'Kanit', sans-serif;

//weight
$textLigth: 300;
$textRegular: 400; 
$textBold: 600;

//sizes
$textSm: 0.7em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;
$borderSm: 5px;
$borderMd: 10px;
$borderLg: 15px;
$borderXl: 20px; 


